/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  align-items: center;
  position: relative;
}
.logoNav {
  position: absolute;
}
.logoNav img {
  height: 3rem;
}
.topBottomNav {
  flex-grow: 1;
}
.topNav {
  height: 2rem;
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  background-color: red;
}

.topNavLeft {
  background-color: green;
}

.topNavRight {
  background-color: yellow;
  font-size: 0.5rem;
}
.bottomNav {
  background-color: gray;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
}
.bottomNavLeft {
  font-size: 0.7rem;
  display: flex;
  height: 100%;
  align-items: center;
}
.categoryParent {
  margin-right: 0.5rem;
  border: 1px solid green;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
/* .categoryUnderline { */
.categoryParent::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: red;
  height: 0.2rem;
  bottom: 0;
  display: none;
}
.categoryParent:hover::after {
  /* background-color: aqua; */
  /* border-bottom: 5px solid red; */
  display: block;
}
.bottomNavRight {
}
